/* CSS for explodinghare.com - test CSMS instance for Orchard */
#page-title-panel {
	display: block;
	height: 200px;
	padding: 40px 0 0 60px; /* basic pad */
	margin-bottom: 20px;
	background: url('../images/red_940x200.png');
	background-repeat: no-repeat;
}
/* banner background switches triggered from navigation path */
.root-b { 
	background: url('../images/grey_940x200.png') !important;
	background-repeat: no-repeat !important;
}
.root-c { 
	background: url('../images/pink_940x200.png') !important;
	background-repeat: no-repeat !important;
}
.page-header {border-bottom: none;} /* cleanup default */


